.checkout {
    padding: 24px;
    text-align: center;
}

.checkout_title {
    font-size: 48px;
    margin: 32px 0;
}

.checkout_ad {
    height: 260px;
    background: rgb(84, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 24px;
}

.checkout_adCell {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
